:host {
  padding: 10px;
}

:host .chat-card {
  padding-top: 10px;
}

:host .vendor-logo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

:host .property-item {
  color: #5a5a5a;
}

:host .good-card-header {
  height: auto!important;
}