:host {
  /*position: fixed;*/
  /*width: 100%;*/
}

:host .select-field {
  margin: 8px;
}

:host .filters-content-block {
  margin: 0;
}

:host .filters-label {
  align-self: center;
}

:host .filters-fields {
  padding: 0 20px;
}

:host .filter-actions {
  align-items: center;
}
