<div class="pagination-container">

  <md-select placeholder="На странице" [(ngModel)]="pagination.limit" (change)="runFilter()">
    <md-option *ngFor="let itemsPerPage of availableItemsPerPageCounts" [value]="itemsPerPage">
      {{ itemsPerPage }}
    </md-option>
  </md-select>

  <button class="transparent" md-icon-button [disabled]="!pagination.skip" (click)="back()"><md-icon>chevron_left</md-icon></button>
  <button class="transparent" md-icon-button [disabled]="pagination.skip + pagination.limit >= totalCount" (click)="forward()"><md-icon>chevron_right</md-icon></button>

  <span>{{ constructLimitInfoRow() }}</span>

</div>